html, body {
    margin: 0px;
    padding: 0px;
    background-color: #F5EDC5;
}

@media screen and (max-width: 1080px) {
    div#pizzapicture {
        width: 1100px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    div#header{
        display: none;
    }

    .dropbtn {
        background-color: #DD8E18;
        color: white;
        padding: 10px;
        padding-left: 30px;
        font-size: 30px;
        border: none;
        cursor: pointer;
        position: fixed;
        width: 1100px;
        height: 75px;
        text-align: left;
    }


    .dropdown {
        width: 1100px;
        height: 75px;
        position: fixed;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #f1f1f1}

    .show {display:block;}
}

@media screen and (min-width: 1080px){
    div#pizzapicture {

        width: 100%;
        height: auto;
        background-color: green;
        margin-left: auto;
        margin-right: auto;
    }

    div#header {
        top: 0px;
        margin: 0px;
        height: 75px;
        width: 100%;
        background-color: #DD8E18;
        position: fixed;
    }

}


h1{
    font-size: 350%;
}

p{
    font-size: 150%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

hr {
    color: black;
    margin: 0px;
    border-width: 5px;
    border-style: solid;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}





ul#headertext {
    list-style: none;
    width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 0;
}

li.headeritems {

    margin-left: 25px;
    margin-right: 25px;
    font-size: 220%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: inline;
}

a{
    text-decoration: none;
}

a:hover{
    color: darkgrey;
}


div.content{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 900px;
}

div#pizzapicture img{
    display: block;
    max-width: 100%

}

div#foodmenu {
    height: 2400px;

}

h1.prisklass{
    text-align: center;
}

h1#prisklass2text {
    margin-top: 300px;
}

h1#reviews{
    margin-top: 300px;
}

div.holder{
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

div.fooddesc{
    height: 400px;
    width: 200px;
    padding: 10px;
    display: inline-block;

}


div#pizzatext {
    width: 600px;
    height: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    }



div#pizzatext ul{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#pizzatext li{
    font-size: 250%;
    font-family: "Source Sans Pro"
}

div#oppettider{
    height: 850px;
}

h1#Oppettider_title {
    margin-left: 25px;
    padding-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

p#Oppettider_info {
    margin-top: 50px;
    text-align: center;
}


h1#om_oss {
    margin-left: 25px;
    padding-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

p#historia {
    margin: 50px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;

}

div#anv_info {
    float: left;
}

div#textfield {
    float: left;
}

input.inputfield{
    margin-left: 250px;
    margin-bottom: 40px;
}

p.inputtext{
    margin: 0px;
    margin-left: 250px;
}
p#firstinputtext{
    margin-top: 50px;
}

div#textfield{
    padding-left: 50px;
    margin-top: 50px;
}
input.submitbutton{
    display: block;
    margin-left: auto;
}

div#kontakt{
    height: 600px;
}

h1#kontakttext{
    text-align: center;
}

img#map{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1#karta{
    text-align: center;
}

p#karttext{
    text-align: center;
}

